<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.education.center.sign.mapper.SysSignRuleDOMapper">
    <resultMap id="BaseResultMap" type="com.education.center.sign.entity.SysSignRuleDO">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="rule_id" jdbcType="BIGINT" property="ruleId"/>
        <result column="rule_name" jdbcType="VARCHAR" property="ruleName"/>
        <result column="rule_start_time" jdbcType="TIMESTAMP" property="ruleStartTime"/>
        <result column="rule_end_time" jdbcType="TIMESTAMP" property="ruleEndTime"/>
        <result column="rule_cycle" jdbcType="INTEGER" property="ruleCycle"/>
        <result column="sign_type" jdbcType="INTEGER" property="signType"/>
        <result column="disable" jdbcType="INTEGER" property="disable"/>
        <result column="delete_flag" jdbcType="INTEGER" property="deleteFlag"/>
        <result column="rule_desc" jdbcType="VARCHAR" property="ruleDesc"/>
        <result column="creator_uid" jdbcType="BIGINT" property="creatorUid"/>
        <result column="creator_name" jdbcType="VARCHAR" property="creatorName"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modifier_uid" jdbcType="BIGINT" property="modifierUid"/>
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbg.generated
        -->
        rule_id, rule_name, rule_start_time, rule_end_time, rule_cycle, sign_type, disable,
        delete_flag, rule_desc, creator_uid, creator_name, create_time, modifier_uid, modify_time
    </sql>
    <select id="selectByName" resultMap="BaseResultMap">
      select * from sys_sign_rule where rule_name = #{ruleName}

    </select>

    <select id="selectByTime" resultMap="BaseResultMap">
        select * from sys_sign_rule where rule_start_time > #{ruleStartTime} and rule_start_time   <![CDATA[<=]]> #{ruleStartTime}
    </select>

    <select id="signRulePageList" parameterType="com.education.center.sign.entity.SignRuleQueryRequest"
            resultType="com.education.center.sign.vo.SignRuleQueryResponse">
        SELECT rule_id AS ruleId,
        rule_name AS ruleName,
        rule_cycle AS ruleCycle,
        rule_start_time AS ruleStartTime,
        rule_end_time AS ruleEndtime,
        rule_desc AS ruleDesc,
        creator_uid AS creatorUid,
        creator_name AS creatorName,
        create_time AS createTime,
        <choose>
            <!--待生效-1、生效中-2、已删除-3、已停用-4、已结束-5、全部-0-->
            <when test="ruleStatus==1">
                1 AS status
            </when>
            <when test="ruleStatus==2">
                2 AS status
            </when>
            <when test="ruleStatus==3">
                3 AS status
            </when>
            <when test="ruleStatus==4">
                4 AS status
            </when>
            <when test="ruleStatus==5">
                5 AS status
            </when>
            <otherwise><!--页面在不加“状态”查询时，一条数据会存在两条状态，优先显示「（删除、停用）状态」-->
                CASE
                WHEN a.delete_flag = 1 THEN 3<!--已删除-->
                WHEN a.disable = 1 THEN 4<!--已停用-->
                WHEN a.rule_start_time &gt; now() THEN 1<!--待生效/未生效-->
                WHEN now() &gt; a.rule_end_time THEN 5<!--已结束-->
                WHEN now() BETWEEN a.rule_start_time AND a.rule_end_time then 2<!--生效中-->
                END AS status
            </otherwise>
        </choose>
        FROM sys_sign_rule a
        WHERE 1=1
        <if test="ruleName!=null and ruleName!=''">
            AND a.rule_name LIKE concat("%", #{ruleName}, "%")
        </if>
        <choose>
            <when test="ruleStatus==1"><!--待生效-->
                AND a.rule_start_time &gt; now()
                AND a.delete_flag != 1 AND a.disable != 1
            </when>
            <when test="ruleStatus==2"><!--生效中-->
                AND now() BETWEEN a.rule_start_time AND a.rule_end_time
                AND a.delete_flag != 1 AND a.disable != 1
            </when>
            <when test="ruleStatus==3"><!--已删除-->
                AND a.delete_flag = 1
            </when>
            <when test="ruleStatus==4"><!--已停用-->
                AND a.disable = 1
            </when>
            <when test="ruleStatus==5"><!--已结束-->
                AND now() &gt; a.rule_end_time
                AND a.delete_flag != 1 AND a.disable != 1
            </when>
        </choose>
        order by a.create_time desc
    </select>
</mapper>