<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.education.center.main.mapper.SysDistrictDOMapper">
  <resultMap id="BaseResultMap" type="com.education.center.main.entity.SysDistrictDO">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="district_id" jdbcType="INTEGER" property="districtId" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="district" jdbcType="VARCHAR" property="district" />
    <result column="level" jdbcType="BIT" property="level" />
    <result column="initial" jdbcType="VARCHAR" property="initial" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    district_id, pid, district, level, initial
  </sql>

  <update id="updateList" parameterType="com.education.center.main.entity.SysDistrictDO">
    <foreach collection="districts" item="item" index="index" open="" close="" separator=";">
      update sys_district
      set initial = #{item.initial}
      where district_id = #{item.districtId}
    </foreach>
  </update>
</mapper>